.contact {
	text-align: center;
	margin-top: 15px;
	
	img {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	
}

.contact-numbers {
	width: 86%;
	margin: auto;
	
	h3 {
		font-family: "TorinoModern-Roman";
		font-size: 18px;
		color: #044099;
		text-transform: uppercase;
		line-height: 1;
	}
	
	p {
		line-height: 1;
		margin-bottom: 1px;
	}
	
	.title {
		font-family: "Baskerville";
		font-size: 14px;
		color: rgb(132, 117, 78);
		text-transform: uppercase;
	}
	
	#MOG {
		letter-spacing: -1px;
	}
	
	.phone-number a {
		font-family: "Baskerville";
		font-size: 16px;
		color: rgb(132, 117, 78);
	}
	
	.email a {
		font-family: "Garamond";
		font-size: 16px;
		color: rgb(132, 117, 78); 
	}
	
}
