@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville.eot');
  src: url('../fonts/Baskerville.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Baskerville.woff2') format('woff2'),
       url('../fonts/Baskerville.woff') format('woff'),
       url('../fonts/Baskerville.ttf') format('truetype'),
       url('../fonts/Baskerville.svg#Baskerville') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NewBaskerville';
  src: url('../fonts/NewBaskerville-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Times-Roman';
  src: url('../fonts/Times-Roman.eot');
  src: url('../fonts/Times-Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Times-Roman.woff2') format('woff2'),
       url('../fonts/Times-Roman.woff') format('woff'),
       url('../fonts/Times-Roman.ttf') format('truetype'),
       url('../fonts/Times-Roman.svg#Times-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro-Regular';
  src: url('../fonts/MinionPro-Regular.ttf') format('truetype'),
       url('../fonts/MinionPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrajanPro-Regular';
  src: url('../fonts/TrajanPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Compendium';
  src: url('../fonts/Compendium.ttf') format('truetype'),
  	   url('../fonts/Compendium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BurguesScript';
  src: url('../fonts/BurguesScript.ttf') format('truetype'),
  	   url('../fonts/BurguesScript.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FairfieldLH-Medium';
  src: url('../fonts/FairfieldLH-Medium');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/Garamond.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond-Italic';
  src: url('../fonts/Garamond-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Garamond-Bold';
  src: url('../fonts/Garamond-Bold.ttf');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'NewBaslta';
  src: url('../fonts/NewBaslta');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Perpetua';
  src: url('../fonts/Perpetua.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Perpetua-Italic';
  src: url('../fonts/Perpetua-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Perpelta';
  src: url('../fonts/Perpelta');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TorinoModern-Roman';
  src: url('../fonts/TorinoModern-Roman.ttf');
  font-weight: normal;
  font-style: normal;
}

