.home-left-col {
	text-align: center;
}

.home-right-col {
	text-align: center;
	
	main {
		width: 90%;
		margin-left: 25px;
	}
	
	h4 {
		font-family: "Baskerville";
		font-size: 18px;	
		font-style: italic;
		line-height: 1;
		color: #044099;
	}
	
	h1 {
		font-family: "TorinoModern-Roman";
		text-transform: uppercase;
		font-size: 50px;
		line-height: 1;
		color: rgb(181, 152, 90);
		
		span {
			display: block;
			font-family: "Baskerville";
			font-style: italic;
			font-size: 18px;
			text-transform: lowercase;
			margin-top: -10px;
		}
	}
	
	h3 {
		font-family: "Baskerville";
		font-size: 15px;
		text-transform: uppercase;
		color: #044099;
	}
	
	h2 {
		font-family: "Compendium";
		font-size: 23px;
		color: rgb(181, 152, 90);
	}
	
	p {
		font-family: "Baskerville";
		font-size: 18px;
		font-style: italic;
		color: rgb(181, 152, 90);
		line-height: 1;
	}
}