.hot-spots-container {
	text-align: center;
	
	h2 {
		font-family: "Compendium";
		font-size: 32px;
		color: #BA9958;
	}
	
	h3 {
		font-family: "TorinoModern-Roman";
		font-size: 18px;
		color: #053F99;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	p {
		color: #BA9958;
	}
	
	.phone-address a {
		font-family: "Baskerville";
		font-size: 17px;
		color: #BA9958;
	}
	
	.website a, p {
		color: #BA9958;
		font-family: "Perpe";
		font-size: 17px;
		font-style: italic;
	}
}