.hot-spots-container {
	text-align: center;
	
	.hot-spot-col-1 {
		padding-left: 42px;
		@media #{$small-only} { 
			padding-left: none;
		}
	}
	
	.hot-spot-col-4 {
		padding-right: 42px;
		@media #{$small-only} {
			padding-right: none;
		}
	}
	.hot-spot {
		width: 90%;
		margin: auto;
		margin-bottom: 20px;
	}
	
	h2 {
		font-family: "Compendium";
		font-size: 24px;
		color: rgb(132, 117, 78);
		margin-bottom: 25px;
	}
	
	h3 {
		font-family: "TorinoModern-Roman";
		font-size: 18px;
		color: #044099;
		text-transform: uppercase;
		margin-bottom: 4px;
	}
	
	.bests {
		margin-bottom: 10px;
	}
	
	p {
		color: rgb(132, 117, 78);
		line-height: 1;
		margin-bottom: 5px;
	}
	
	.phone-address a {
		font-family: "Baskerville";
		font-size: 13px;
		color: rgb(132, 117, 78);
	}
	
	.website a {
		color: rgb(132, 117, 78);
		font-family: "Perpetua-Italic";
		font-size: 17px;
	}
	
	.shopping {
		color: rgb(132, 117, 78);
		font-family: "Perpetua-Italic";
		font-size: 17px;
		line-height: 1.4;
	}
}