.itinerary-left-col {
	text-align: center;
	
	img {
		width: 450px;
		height: 546px;
	}
	
}

.itinerary-right-col {
	text-align: center;
	
	#dinner-dancing {
	float: left;
	}
	
	@media #{$small-only} { 
			margin-right: inherit;
		}
	
	.line-right {
		@media #{$large-only} {
			border-right: 1px solid rgb(132, 117, 78);
			line-height: 1;
		}
	}
	
	h2 {
		font-family: "Compendium";
		font-size: 24px;
		line-height: 1;
		color: rgb(132, 117, 78);
		letter-spacing: 1.8px;
	}
	
	h3 {
		font-family: "TorinoModern-Roman";
		font-size: 16px;
		text-transform: uppercase;
		line-height: 1.4;
		color: #044099;
		margin-top: 10px;
	}
	
	h4 {
		font-family: "Baskerville";
		font-size: 12px;
		text-transform: uppercase;
		line-height: 1;
		color: #044099;
	}
	
	li {
		font-family: "Baskerville";
		font-size: 13px;
		line-height: 1;
		padding: 0px;
		color: rgb(132, 117, 78);
	}
	
	p {
		font-family: "Perpe";
		font-size: 13px;
		font-style: italic;
		line-height: 1.4;
		color: rgb(132, 117, 78);
		margin-bottom: 1px;
	}
	
	.place-time {
		font-family: "Baskerville";
		font-style: normal;
		margin-bottom: 1.4px;
	}
	
	.special-directions {
		margin-bottom: 1px;
	}
	
	.day-section {
		padding-bottom: 15px;
		border-bottom: 1px solid rgb(132, 117, 78);
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	
}