.itinerary-left-col {
	
	img {
		max-width: 100%;
		@media #{$small-only} { 
			margin-left: inherit;
		}
	}
}

.itinerary-right-col {
	text-align: center;
	
	#dinner-dancing {
	float: left;
	}
	
	@media #{$small-only} { 
			margin-right: inherit;
		}
	
	.line-right {
		border-right: 1px solid #BA9958;
		line-height: 1;
	}
	
	h2 {
		font-family: "Compendium";
		font-size: 24px;
		line-height: 1;
		color: #BA9958;
	}
	
	h3 {
		font-family: "TorinoModern-Roman";
		font-size: 16px;
		text-transform: uppercase;
		line-height: 1;
		color: #053F99;
		font-weight: bold;
	}
	
	h4 {
		font-family: "Baskerville";
		font-size: 12px;
		text-transform: uppercase;
		line-height: 1;
		color: #053F99;
		font-weight: bold;
	}
	
	li {
		font-family: "Baskerville";
		font-size: 13px;
		line-height: 1;
		padding: 0px;
		color: #BA9958;
	}
	
	p {
		font-family: "Perpe";
		font-size: 13px;
		font-style: italic;
		line-height: 1.2;
		color: #BA9958;
	}
	
	.place-time {
		font-family: "Baskerville";
		font-style: normal;
		margin-bottom: 1px;
	}
	
	.special-directions {
		margin-bottom: 1px;
	}
	
	.day-section {
		padding-bottom: 5px;
		border-bottom: 1px solid #BA9958;
		margin-left: 5px;
		margin-right: 5px;
	}
	
}