.map-right-col {
	text-align: center;
	
	img {
		max-width: 100%;
	}
	
	h2 {
		font-size: 40px;
		font-family: "TorinoModern-Roman";
		color: rgb(181, 152, 90);
		text-transform: uppercase;
	}
	
	h3 {
		font-size: 22px;
		font-family: "Compendium";
		color: rgb(181, 152, 90);
	}
}