.registery-left-col {
	text-align: center;
	
}

.registery-middle-col {
	text-align: center;
	
	
	.registery-info {
		margin-top: 25px;
		margin-bottom: 25px;
		
		@media #{$large-up} {
			margin-top: 38%;
			margin-bottom: inherit;		
		}
	}
	
	h2 {
		font-family: "Compendium";
		font-size: 28px;
		color: rgb(132, 117, 78);
	}
	
	h3 a {
		font-family: "Baskerville";
		font-size: 18px;
		text-transform: uppercase;
		color: #044099;
	}
}

.registery-right-col {
	text-align: center;
}