@import "settings";
@import "foundation";
@import "compass/css3";
@import "homepage";
@import "itinerary";
@import "map";
@import "hot-spots";
@import "travel";
@import "registery";
@import "contact";
@import "fonts";


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/*
.layer-2 {
	background-color: gold;	
	position: absolute;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 10%;
	margin-right: 10%;
}
*/

.low-background {
	background-size: cover;
	background-repeat: repeat-y;
	background-image: url('../images/hi-res-background.jpg');
}

.large-background {
	background-size: cover;
	background-repeat: repeat-y;
    background-image: url('../images/hi-res-background.jpg');
}

.bottom-border {
	position: relative;
	@media #{$large-only} {
		&:after {
			content:''; 
			margin-left: 75px;
			width: 85%;
			height: 1px;
			background-color: rgb(181, 152, 90);
			position:absolute; 
			bottom:-15px;
			}
		}
}

nav {
	text-align: center;
	margin-top: 10px;
	
	a {
		text-decoration: none;
		color: rgb(181, 152, 90);
		font-size: 18px;
		text-transform: uppercase;
		font-family: "TorinoModern-Roman";
		&:hover {
			color: #044099;
		}
	}
	
	a.active-nav {
		color: #044099;
	}
	
	img:hover {
		opacity: .5;
	}
	
	#top-logo {
		@media #{$large-up} { 
			display: none;
		}
	}
	
	
	#middle-logo {
		@media #{$small-only} { 
			display: none;
		}
		
		@media #{$medium-only} { 
			display: none;
		}
	}
	
}

.main-content {
/*
	margin-top: 100px;
	margin-bottom: 100px;
	width: 85%;
	max-width: 85%;
*/
	text-align: center;
	width: 85%;
	max-width: 85%;
	padding: 25px;
	background-color: white;
	margin-top: 100px;
	margin-bottom: 100px;
/*
	background: 
		linear-gradient(135deg, transparent 10px, white 0) top left,
		linear-gradient(225deg, transparent 10px, white 0) top right;
		linear-gradient(315deg, transparent 10px, white 0) bottom left,
		linear-gradient(45deg, transparent 10px, white 0) bottom left;
*/



	border: 7px double rgb(181, 152, 90); 
	outline: 10px solid white;


	
		ul {
		list-style-type: none;
		margin: auto;
		
		li {
			display: inline-block;
			padding: 4px 8px;
			@media #{$small-only} {
				display: block;
			}
		}
		
	}
	
	.main-row {
		margin-top: 50px;
	}
	
}


